:root {
    --mainFont: 'Lora', serif;
    --primary: #05BAE6;
    --secondary: #DB00AD;
    --gray: #E5E5E5;
    --white: #FFFFFF;
    --black: #000000; 
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  img {
      max-width: 100%;
  }

  body {
      font-family: var(--mainFont);
      font-size: 1.2rem;
  }

  /*-------- Header styling --------*/
  .site-header {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }


  